* {
	-fx-font-size: 11pt;
	-fx-font-family: "Segoe UI Semibold";
}

.root {
	-fx-background-color : #121212;	
}

.tool-bar {
	-fx-background-color: #121212;
}

.button {
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

#unpackBtn {
	-fx-graphic: url('/icons/load_icon.png');
}

#unpackBtn:hover {
	-fx-background-color: #292929;
}

#unpackBtn:pressed {
	-fx-background-color: #1F1F1F;
}

#packBtn {
	-fx-graphic: url('/icons/save_icon.png');
}

#packBtn:hover {
    -fx-background-color: #292929;
}

#packBtn:pressed {
    -fx-background-color: #1F1F1F;
}

#minBtn {
	-fx-graphic: url('/icons/minimize_icon_light.png');
}

#minBtn:hover {
	-fx-background-color: #292929;
}

#minBtn:pressed {
    -fx-background-color: #1F1F1F;
}

#maxBtn {
	-fx-graphic: url('/icons/maximize_icon_light.png');
}

#maxBtn:pressed {
    -fx-background-color: #1F1F1F;
}

#closeBtn {
	-fx-graphic: url('/icons/close_icon_light.png');
}

#closeBtn:hover {
	-fx-background-color: #E81123;
}

#closeBtn:pressed {
	-fx-background-color: #F1707A;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
    -fx-background-insets: 0;
}

.progress-bar > .track {
	-fx-background-color: #34495e;
	-fx-text-box-border: #34495e;
	-fx-control-inner-background: #34495e;
}

#titleLbl {
	-fx-text-fill: white;
}